.switch input { 
    display: none;
}
.switch {
    width:35px;
    height: 18px;
    position: relative;
}
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #848484, 0 0 4px #777;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background:#777;
    border-radius: 4px;
    transform: translateX(-20px);
    transition: .4s;
}

input:checked + .slider:before {
    transform:translateX(20px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow: 0 0 0 2px limeGreen,0 0 2px limeGreen;
}